<!DOCTYPE html>
<html ng-app="locateEasy">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Locate Easy</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="../css/style.css">
</head>
<body ng-controller="LandingController">
  <div class="wrapper" ng-init="hideSidebar = false">
      <nav id="sidebar" class="container-fluid" ng-class="{active: hideSidebar}">
        <div style="margin: 10px 0">
            <img class="logo-icon" src="../image/logo.svg"><h3 class="logo-header">Locate Easy</h3>
        </div>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">From</span>
        </div>
          <input type="text" class="form-control" placeholder="start" aria-label="start" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">To   </span>
        </div>
          <input type="text" class="form-control" placeholder="end" aria-label="end" aria-describedby="basic-addon1">
      </div>
    </nav>

    <div id="content">
    <nav class="navbar-toggle">
      <button type="button" class="btn btn-info" ng-click="hideSidebar=!hideSidebar">
        <span ng-if="hideSidebar" ><i class="fas fa-caret-right"></i></span>
        <span ng-if="!hideSidebar"><i class="fas fa-caret-left"></i></span>
      </button>
    </nav>
    <select ng-model="startPoint">
        <option value="R1">R1</option>
        <option value="R2">R2</option>
        <option value="R3">R3</option>
        <option value="D1">D1</option>
        <option value="D2">D2</option>
        <option value="D3">D3</option>
        <option value="D4">D4</option>
        <option value="D5">D5</option>
        <option value="D6">D6</option>
        <option value="D7">D7</option>
        <option value="D8">D8</option>
        <option value="D9">D9</option>
        <option value="D10">D10</option>
        <option value="D11">D11</option>
        <option value="D12">D12</option>
        <option value="D13">D13</option>
        <option value="D14">D14</option>
        <option value="D15">D15</option>
        <option value="D16">D16</option>
        <option value="D17">D17</option>
        <option value="D18">D18</option>
        <option value="D19">D19</option>
        <option value="D20">D20</option>
        <option value="D21">D21</option>
        <option value="D22">D22</option>
        <option value="D23">D23</option>
        <option value="D24">D24</option>
        <option value="D25">D25</option>
        <option value="D26">D26</option>
        <option value="D27">D27</option>
        <option value="D28">D28</option>
        <option value="D29">D29</option>
        <option value="D30">D30</option>
        <option value="D31">D31</option>
        <option value="D32">D32</option>
        <option value="D33">D33</option>
        <option value="D34">D34</option>
        <option value="D35">D35</option>
        <option value="D36">D36</option>
        <option value="D37">D37</option>
        <option value="D38">D38</option>
        <option value="D39">D39</option>
        <option value="D40">D40</option>
        <option value="D41">D41</option>
        <option value="D42">D42</option>
        <option value="D43">D43</option>
    </select>

      <select ng-model="endPoint">
        <option value="R1">R1</option>
        <option value="R2">R2</option>
        <option value="R3">R3</option>
        <option value="D1">D1</option>
        <option value="D2">D2</option>
        <option value="D3">D3</option>
        <option value="D4">D4</option>
        <option value="D5">D5</option>
        <option value="D6">D6</option>
        <option value="D7">D7</option>
        <option value="D8">D8</option>
        <option value="D9">D9</option>
        <option value="D10">D10</option>
        <option value="D11">D11</option>
        <option value="D12">D12</option>
        <option value="D13">D13</option>
        <option value="D14">D14</option>
        <option value="D15">D15</option>
        <option value="D16">D16</option>
        <option value="D17">D17</option>
        <option value="D18">D18</option>
        <option value="D19">D19</option>
        <option value="D20">D20</option>
        <option value="D21">D21</option>
        <option value="D22">D22</option>
        <option value="D23">D23</option>
        <option value="D24">D24</option>
        <option value="D25">D25</option>
        <option value="D26">D26</option>
        <option value="D27">D27</option>
        <option value="D28">D28</option>
        <option value="D29">D29</option>
        <option value="D30">D30</option>
        <option value="D31">D31</option>
        <option value="D32">D32</option>
        <option value="D33">D33</option>
        <option value="D34">D34</option>
        <option value="D35">D35</option>
        <option value="D36">D36</option>
        <option value="D37">D37</option>
        <option value="D38">D38</option>
        <option value="D39">D39</option>
        <option value="D40">D40</option>
        <option value="D41">D41</option>
        <option value="D42">D42</option>
        <option value="D43">D43</option>
      </select>
      <button ng-click="showPath(startPoint, endPoint)">Show Path</button>

    <canvas id="myCanvas" resize map style="width: 100vw; height: 100vh;"></canvas>
  </div>

</div>


  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- libs -->
  <script src="js/lib/paper-full.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  
  <!-- application -->
  <script src="js/angular/app.js"></script>
  <script src="js/data.js"></script>
  <script src="js/pathfinder.js"></script>


</body>
</html>